
<app-admin-header></app-admin-header>


<div class="dashboard" style="top: 78px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-pad">
            <app-admin-side-navigation></app-admin-side-navigation>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-pad">
          <router-outlet></router-outlet>

            </div>

                
 <app-admin-footer></app-admin-footer>
                </div>
            </div>
        </div>
  
