
    <div class="dashboard-nav d-none d-xl-block d-lg-block">
        <div class="dashboard-inner">
            <ul>
                <li class="active"><a routerLink="dashboard"> Dashboard</a></li>
                <li><a routerLink="post-a-property"> Post A Property</a></li>
                <li><a routerLink="list-of-properties"> List Of Properties</a></li>
                <li><a routerLink="list-of-enquires"> List Of Enquires for Properties</a></li>
                <li><a routerLink="change-password"> Change Password</a></li>
                <li><a routerLink="my-profile"> My Profile</a></li>
            </ul>
        </div>
    </div>
